<div class="mx-auto w-screen xl:max-w-page bg-center bg-search min-h-[348px] h-[calc((100vh/2.5)+48px)] max-h-[408px]">
  <div class="w-full h-full flex items-center justify-center content-center">
    <div class="flex-wrap p-[20px] w-full gap-[20px]">
      <div class="mb-[20px] w-full">
        <h2 class="text-[3em] font-bold text-white font-ssp tracking-wide leading-none">Welcome.</h2>
        <h3 class="text-[2em] font-semibold m-0 font-ssp text-white tracking-wide ">Millions of movies, TV shows and people to discover. Explore now.</h3>
      </div>
      <div>
        <%= render "search" %>
      </div>
    </div>
  </div>
</div>